body{
    background-color: rgb(251, 255, 168);
}
p{
    text-align: center;
    font-size: 50px;
    text-decoration: underline overline ;
    color: blue;
    background-color: lightpink;
}
table{
    color: rgb(18, 110, 2);
    font-size: 40px;
}