.row {
  display: flex;
  justify-content: center;
  gap: 50px;      /* spacing between laptop & mobile */
  margin-bottom: 40px;
}

.product-table {
  width: 420px;
  text-align: center;
  background-color: #fff;
}
